body{margin: 0%;}

@font-face {
    font-family: "hanging";
    src: url(../fonts/HangingRegular.ttf);
}

@font-face {
    font-family: "chocolate";
    src: url(../fonts/TT\ Chocolates\ Trial\ Bold.otf);
}

@font-face {
    font-family: "chocolatel";
    src: url(../fonts/TT\ Chocolates\ Trial\ Light.otf);
}

@font-face {
    font-family: "parrafos";
    src: url(../fonts/SimpleHandmade.otf);
}

@font-face {
    font-family: "auto";
    src: url(../fonts/Autography.otf);
}

:root{
    --bg-principal: rgb(255, 218, 234);
    --color-principal: rgb(255, 63, 108);
    --color-dorado: rgb(234, 180, 64);
    --color-verde: rgb(15, 87, 15);
}

.header {
    background-color: var(--bg-principal);
    display:flex;
}


.header__logo img{
    display: flex;
    width: 8%;
    padding: .5%;
}

.nav__menu {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-dorado);
    list-style-type: none;
    margin: 0 0;
    padding-left: 0;
}

.nav__menu a{
    font-family: 'chocolatel';
    text-decoration: none;
    color: white;
}

.nav__menu li{
    padding: .6%;
}

.main__nombre img{
    width: 45%;
    margin: 3% 3%;
}

.main__nombre{
    display: flex;
    justify-content: center;
    margin: 2.5% 2.5%;
}

.titulo p{
    display: flex;
    justify-content: flex-start;
    font-family: 'hanging';
    font-size: 240%;
    padding-left: 5%;
}

.main__pinicial p{
    display: flex;
    justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
}

p{
    font-family: 'parrafos';
    text-align: center;
}

.footer__rs{
    background-color: var(--bg-principal);
}
.footer__rs a{
    font-family: 'chocolatel';
    text-decoration: none;
    color: var(--color-principal);
}
.footer__rs li{list-style-type: none;padding: .5% .5%;}
.footer__rs ul{
    margin: 0%;
    display: flex;
    justify-content: space-around;
    padding-left: 0%;
}
.footer__autor{
    background-color: var(--color-principal);
    display: flex;
    justify-content: center;
    align-items: center;
}
.pinicial{margin-left: 3%; margin-right: 3%;}

.footer{margin-top: 15%;}
.footer__autor p{font-family: 'auto'; color: white;}

.procedimientos{margin-left: 3%; margin-right: 3%; background-color: beige; padding: 3%;}
.procedimiento__imagen{display: flex;}
.procedimiento__descripcion h2{font-family: 'chocolate'; color: var(--color-verde); margin-top: 0%;}
.procedimiento__descripcion p{font-family: 'chocolatel';}

.contacto{list-style-type: none;}
.contacto a{font-family: 'chocolate'; color: white; background-color: var(--color-verde); border-radius: 15px;}
.contacto ul{padding-left: 0%;}

.informacion__texf{margin-left: 3%; margin-right: 3%;}

@media only screen and (max-width: 768px){
    .nav__menu a{
        font-size: 75%;
    }
    .main__nombre img{
        width: 65%;
    }
    p{font-size: 15px;}
    .main__imgpini{
        margin-left: 3%;
        margin-right: 3%;
    }
    .main__imgpini img{
        width: 100%;
        display: flex;
        justify-content: center;
        margin bottom: 5%;
        margin-top: 5%;
    }

    .titulo p{margin-top: 6%; margin-bottom: 6%;}

    .pinicial{margin-bottom: 6%;}
    .footer__autor p{font-size: 10px;}
    .procedimientos{margin-bottom: 6%;}
    .procedimiento__imagen img{width: 95%;}
    .procedimiento__imagen{justify-content: center;}

    .contacto a{padding: 3% 3%; padding-left: 15%; padding-right: 15%; font-size: 15px;}
    .contacto li{margin-bottom: 8%; display: flex; justify-content: center;}

    .informacion{margin-left: 3%; margin-right: 3%;}
    .informacion__ubi iframe{width: 100%;}
}

@media only screen and (min-width: 1024px){
    .nav__menu a{
        font-size: 100%;
    }
    p{font-size: 25px;}
    .main__imgpini{
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: auto;
        grid-template-areas: "imagen parrafo";
    }
    
    .main__imgpini img{grid-area: imagen;
        width: 100%;
        margin: 1%;
        margin-left: 6%;
    }
    .main__imgpini p{grid-area: parrafo; 
        display: flex;
        justify-content: center; 
        align-items: center;
        margin: 3%;
        margin-left: 12%;
        margin-right: 6%;
    }
    .footer__autor p{font-size: 20px;}

    .pinicial{margin-bottom: 3%;}

    .procedimientos{
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: auto;
        grid-template-areas:"descripcion imagen";
        padding-left: 2%;
        padding-right: 2%;
        margin-bottom: 3%;
    }
    .procedimiento__descripcion{grid-area: descripcion; margin-right: 2%;}
    .procedimiento__imagen{grid-area: imagen;}
    .procedimiento__imagen img{width: 100%; align-self: center;}
    .procedimiento__descripcion p{font-size: 20px;}

    .contacto{margin: 5% 5%;}
    .contacto a{padding: 10% 10%; padding-left: 40%; padding-right: 40%; font-size: 20px;}
    .contacto ul{display: flex; justify-content: space-around; list-style-type: none;}

    .informacion {display: flex; flex-direction: row-reverse;}
    .informacion__ubi{margin-left: 3%;}
    .informacion__texto{margin-left: 2%; margin-right: 3%; display: flex; flex-wrap: wrap; align-content: center;}
    .informacion__texf{margin-top:  3%;}
}


