@font-face {
    font-family: "hanging";
    src: url(../Fonts/HangingRegular.ttf);
}

@font-face {
    font-family: "chocolate";
    src: url(../Fonts/TT\ Chocolates\ Trial\ Bold.otf);
}

@font-face {
    font-family: "chocolatel";
    src: url(../Fonts/TT\ Chocolates\ Trial\ Light.otf);
}

:root{
    --bg-principal: rgb(255, 218, 234);
    --color-principal: rgb(255, 63, 178);
    --color-dorado: rgb(234, 180, 64);
}

.header {
    background-color: var(--bg-principal);
    display:flex;
}


.header__logo img{
    display: flex;
    width: 8%;
    padding: .5%;
}

.nav__menu {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-dorado);
}

.nav__menu {
    list-style-type: none;
    margin: 0 0;
    padding-left: 0;
}

.nav__menu a{
    font-family: 'chocolatel';
    text-decoration: none;
    color: white;
}

.nav__menu li{
    padding: 1%;
}

.nombre img{
    width: 35%;
}

.nombre{
    display: flex;
    justify-content: center;
    margin: 2.5% 2.5%;
}

.titulo p{
    display: flex;
    justify-content: flex-start;
    font-family: 'hanging';
    font-size: 200%;
    padding-left: 5%;
}


